In [1]:
import pandas as pd
import numpy as np

In [2]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [3]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [4]:
n_users=ratings.user_id.unique().shape[0]
n_movies=ratings.movie_id.unique().shape[0]

print("No. of Unique Users:",n_users)
print("No. of Unique Movies:",n_movies)

No. of Unique Users: 943
No. of Unique Movies: 1682

In [5]:
#Creating Pivot table for User and Movies

datama=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_matrix=datama.fillna(0)
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
#Find Cosine Similatity for user and Item

from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [8]:
#Using formula for user and item we are calcuating the score value

def predict(ratings, user_similarity,item_similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        mean_user_rating = np.array(mean_user_rating)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + user_similarity.dot(ratings_diff) / np.array([np.abs(user_similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(item_similarity) / np.array([np.abs(item_similarity).sum(axis=1)])
    return pred

In [9]:
# prediction Table
user_prediction = predict(data_matrix,user_similarity, item_similarity,type='user')
item_prediction = predict(data_matrix, user_similarity,item_similarity, type='item')

In [10]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

In [11]:
user_sim_table=pd.DataFrame(user_similarity)

In [12]:
#As per User based filtering ,first have to find similarity between the input user and others
input_user=34
sim_input_user=user_sim_table[input_user].sort_values(ascending=True).head(5).index
sim_input_user

Index([34, 450, 852, 811, 509], dtype='int64')

In [13]:
sim_user_input=list(sim_input_user)
sim_user_input

[34, 450, 852, 811, 509]

In [14]:
movie_id_sim_user=[]
for movie in sim_user_input:
    sim=list(ratings[ratings.user_id == movie]["movie_id"])
    movie_id_sim_user.append(sim)

In [15]:
len(movie_id_sim_user)

5

In [16]:
movie_id_sim_user_single= [x for sub in movie_id_sim_user for x in sub]

In [17]:
len(movie_id_sim_user_single)

663

In [18]:
def UserBased(input_user,user_similarity,user_prediction,sim_user_count,thres):

    user_sim_table=pd.DataFrame(user_similarity)
    
    sim_input_user = user_sim_table[input_user].sort_values(ascending=True).head(sim_user_count).index

    sim_user_input=list(sim_input_user)

    sim_user_movieid=[]
    for sim in sim_user_input:
        sim1= list (ratings[ratings.user_id == sim]["movie_id"])
        sim_user_movieid.append(sim1)

    sim_user_movieid_single= [x for sub in sim_user_movieid for x in sub]

    unique_movieid_sim_user= set(sim_user_movieid_single)

    input_user_watched_movies=list (ratings[ratings.user_id == input_user]["movie_id"].values)
#Recommendation movies for User
    rec=[]
    for i in unique_movieid_sim_user:
        if (i in input_user_watched_movies):
            pass
        else:
            rec.append(i)
            
#From recommendation list selecting only highest rated(predicted) value
    high_rated=[]
    user_pred_table=pd.DataFrame(user_prediction)
    user_pred_trans=user_pred_table.T
    input_user_pre=pd.DataFrame(user_pred_trans[input_user])
    input_user_pred=input_user_pre.T

    for re in rec:
        value=input_user_pred[re].values
        if (value >= thres):
            high_rated.append(re)

    i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    
    items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
    
#Creating Movie list from movie id
    movie_title=[]
    for movieid in high_rated:
        mov= items[items["movie id"] == movieid]["movie title"].values
        movie_title.append(mov)

    movie_title_list=[]
    for m in movie_title:
        mv=list(m)
        movie_title_list.append(mv)
        
    Final_Rec_Movies= [j for su in movie_title_list for j in su]
    
    print("The common Movie in Recom & User:",list(set(rec)&set(input_user_watched_movies)))
    print("Recommended Movies:")
    for movie in Final_Rec_Movies:
        print(movie)

    return Final_Rec_Movies

In [19]:
Recommended_movie=UserBased(29,user_similarity,user_prediction,2,0.8)

The common Movie in Recom & User: []
Recommended Movies:
Richard III (1995)
Postino, Il (1994)
Rock, The (1996)
Breaking the Waves (1996)
Men in Black (1997)
Sense and Sensibility (1995)
Secrets & Lies (1996)
Donnie Brasco (1997)
In & Out (1997)
Cop Land (1997)